.bryant_logo {
    max-width: 30rem;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    filter: contrast(1.2) brightness(0.9);
}

.bryant_logo_container {
    text-align: center;
    padding: 1rem;
}

@media (max-width: 500px) {
    .bryant_logo {
        max-width: 25rem;
    }
}

@media (max-width: 400px) {
    .bryant_logo {
        max-width: 20rem;
    }
}
