.bryant_logo {
    max-width: 30rem;
}

.bryant_logo_container {
    text-align: center;
}

@media (max-width: 500px) {
    .bryant_logo {
        max-width: 25rem;
    }
}

@media (max-width: 400px) {
    .bryant_logo {
        max-width: 20rem;
    }
}
