.construction {
    text-align: center;
    padding-bottom: 1rem;

    &__text {
        color: #ffffff;
        font-weight: normal;
    }

    h2 {
        font-size: 25pt;
    }

    h3 {
        font-size: 15pt;
    }
}

.resume {
    text-decoration: underline;
}

.resume:hover {
    transition: color 0.25s ease;
    color: yellow;
    
}

@media (max-width: 800px) {
    .construction {
        h2 {
            font-size: 20pt;
        }
    
        h3 {
            font-size: 13pt;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}
