.footer {
  background: transparent;

  &__container {
    display: flex;
    flex: 1;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    background: transparent;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      transition: transform 0.3s ease;
    }

    a:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 900px) {
  .footer__container {
    a {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

@media (max-width: 500px) {
  .footer__container {
    a {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
}
