.current {
    text-decoration: underline;
  }

.nav {
    color: white;
    display: flex;
    padding: 0.1rem 0;
    justify-content: center;
    gap: 0.75rem;

    &__link {
        color: red;
    }
}
