.bac {
    display: flex;
    justify-content: space-evenly;
    background-color: #fcd303;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
.bbl {
    display: flex;
    justify-content: space-evenly;
    background-color: #5eeb34;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
