html,
body {
  background-color: #f4f1e8;
  padding: 0;
  margin: 0;
  font-family: 'Georgia', 'Times New Roman', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
